.Content {
    width: 38vw;
    min-height: 70vh;
    padding-left: 31vw;
    padding-right: 31vw;
}

.Content p {
    margin-top: 3vh;
}

.color1 {
    color: rgb(255, 160, 87);
}

.color2 {
    color: rgb(112, 184, 255);
}

.color3 {
    color: rgb(11, 216, 182);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.contact a {
    text-decoration: none;
    color: white;
    font-family: 'Berkeley Mono', monospace;
    transition: padding 0.3s ease, border-radius 0.3s ease;
}

.contact a:hover {
    padding: 10px;
    border-radius: 10px;
}

.projectsSpace {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
}

.project {
    padding: 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 6px;
}

.project-icon {
    width: 50px;
    height: 50px;
    border-radius: 11px;
    transition: transform 0.3s ease;
}

.project-icon:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.latest {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: black;
}

.latest::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #ffcccc, #ffebcc, #ffffcc, #ccffcc, #ccffff, #ccccff, #ebccff, #ffccf2, #ffcccc);
    background-size: 200% 200%;
    z-index: -1;
    animation: glowing 10s linear infinite;
    filter: blur(5px);
}

@keyframes glowing {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.badge {
    width: 90px;
    display: block;
    height: auto;
    margin-right: 1vw;
}

.project:hover {
    background-color: transparent; /* Remove background color on hover */
}

@media only screen and (max-width: 600px) {
    .Content {
        margin-left: 5vw;
        width: 80vw;
        height: auto;
        padding-left: 0vw;
        padding-right: 0vw;
    }

    .project-icon {
        width: 50px; /* Adjust size for mobile */
        height: 50px; /* Adjust size for mobile */
    }
}