.location {
    color: rgb(176, 180, 186);
}
footer {
    width: 100%;
    height: auto;
}
.footer-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}

.circle-container {
    margin-right: 0px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.size-2 {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: rgb(51, 176, 116);
    border-radius: 50%;
}
